<!DOCTYPE HTML>
<html>
<head>
    <title>xmrSale</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='xmrsale.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Initate the payment websocket -->
    <script type="text/javascript">
        payment_data = {{ params|tojson }};
        console.log(payment_data);
        payment(payment_data);
    </script>

</head>


<body>
    <div id="paybox">
        <div id="row" height="50px">
            <div id="left" style="display:inline;width:80%" height="75px">
                <h1><span style="color:gray">Pay</span> Monero</h1>
            </div>
            <div id="right" style="width:20%">
                <a id="qrClick" target="_blank"><img class="logo" id="qrImage" width="65px" src="{{ url_for('static', filename='xmr-logo-outlined.png') }}"></a>
            </div>
        </div>

        <div id="paymentDetails" style="display:block; padding: 0;">
            <p style="padding:0;color:#FF6600;">Send: <b><span id="amount"></span></b> XMR</p>
            <p style="padding:0;color:#FF6600;">To: </p><b><p id="address" onclick="copyTextFromElement('address')"></p></b>
            <p style="padding:0;"><span id="status"></span></p>
            <p id="timerContainer" style="padding:0;visibility:hidden;"><span id="timer"></span> seconds remaining.</p>
        </div>

        </br>

        <div id="row">
            <div id="left" style="text-align: left; padding: 0;">
                <!-- <button class="button button1" onclick="replaceUrlParam(window.location, 'method', 'bitcoind');">Onchain Payment</button> -->
            </div>

            <div id="right" style="text-align: right; padding: 10px 10px;">
                <small style="vertical-align:middle"><a id="about" href="https://github.com/xmrsale/xmrsale" target="_blank">xmrSale</a></small>
            </div>
        </div>
    </div>
</body>
</html>
